
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vw;
  }

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
  
.slide.active {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex: 1 1 80%;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.imageContainer{
  display: flex;
  flex: 1 1 100%;
  width: 100%;
}

.image {   
  min-height: 0;
  width: 100%;
  border-radius: 15px;
}

.right-arrow {
  margin-top: 10px;
  flex:1 1 5%;
  font-size: 3rem;
  z-index: 10;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  flex:1 1 5%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.ImageCounter{
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (max-width:900px) {
  .slider{
    min-height: 55vw;
  }  
  .imageContainer{
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    padding: 0 5px 0 5px;
  }
}
  
  