

.projectImageContainer{
    display: flex;
}

.projectBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
    min-height: 50vw;
    /* background-image: url(../PortfolioImages/C_snapShot2.png); */
    opacity: 0.8;
    background-size:cover;        

}   

.backgroundText{   
    font-size: 20vw;
    text-align: center;
    color: white;   
    opacity: 1;
    flex: 1 1 100%;    
}

.galleryContainer{   
    display: flex; 
    flex-wrap: wrap;
    background-color: #FCF6F5FF;
}
.ImageGallery{
    background-color: #FCF6F5FF;
}

.galleryChild{
    display: flex;
    flex: 0 0 50%;
}
.videoPlayer{
    /* margin: 20px 5px 20px 5px; */
    padding:20px;
    position: relative;
    width: 100%;
    height: 100%;
}
.DescriptionContent{
    padding: 40px 40px 0 40px;
    /* margin-left: 100px; */
    width: 100%;
    text-align: justify;
}

.react-player{
    position:absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 900px) {
    .galleryChild{
        flex: 1 1 100%;
        margin-bottom: 20px;        
    }
    .galleryChild:last-child{
        flex: 1 1 100%;
        margin-bottom: 20px;
        min-height: 60vw;        
    }
    .videoPlayer{
        /* margin: 20px 5px 20px 5px; */
        padding:20px;
        position: relative;
    }
    .ImageGallery{
        position: relative;
        background-color: #FCF6F5FF;
        min-height: 10vw;
    }
    
}

.projectDescription{
    background-color: #FCF6F5FF;
}

.infoList{
    list-style-type:none;
    
}

.infoTitle{
    font-weight: bold;
}